@use '../common/common.scss' as *;

.footer {
  background-color: map-get($colors, 'white');
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 56px;
  box-sizing: border-box;


  &--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: map-get($colors, 'dark-gray');
  }

  &--active {
    filter: invert(43%) sepia(16%) saturate(6966%) hue-rotate(203deg) brightness(101%) contrast(93%);
  }
}